In [1]:
# Lab | Making predictions with logistic regression
# 1. Create a query or queries to extract the information you think may be relevant for building the prediction model. 
# It should include some film features and some rental features.

In [6]:
from sqlalchemy import create_engine

In [22]:
engine = create_engine("mysql+pymysql://root:1234@127.0.0.1:3306/sakila")
Session = sessionmaker(bind=engine)
session = Session()

In [23]:
from sqlalchemy.orm import sessionmaker

In [25]:
import pandas as pd

In [ ]:
# 2. Read the data into a Pandas dataframe.

In [35]:
with engine.connect() as connection:
    df = pd.read_sql_query("SELECT i.film_id, COUNT(i.film_id) AS num_alquileres, f.rating, f.rental_rate, f.release_year, c.name FROM sakila.rental r INNER JOIN sakila.inventory i ON r.inventory_id=i.inventory_id JOIN sakila.film f ON f.film_id=i.film_id JOIN sakila.film_category fc ON fc.film_id=f.film_id JOIN sakila.category c ON c.category_id=fc.category_id GROUP BY i.film_id, f.rating, f.rental_rate, f.release_year, c.name;", connection)

In [36]:
df

     film_id  num_alquileres rating  rental_rate  release_year    name
0         19              21     PG         0.99          2006  Action
1         21              22      R         4.99          2006  Action
2         29              10  NC-17         2.99          2006  Action
3         56              18      G         2.99          2006  Action
4         67              21  PG-13         2.99          2006  Action
..       ...             ...    ...          ...           ...     ...
953      931              12  PG-13         0.99          2006  Travel
954      977              12      R         2.99          2006  Travel
955      981              21  NC-17         0.99          2006  Travel
956      988              15      R         2.99          2006  Travel
957      989              25      R         4.99          2006  Travel

[958 rows x 6 columns]

In [37]:
# 3. Analyze extracted features and transform them. 
# You may need to encode some categorical variables, or scale numerical variables.

In [38]:
from sklearn.preprocessing import LabelEncoder

In [39]:
# Suponiendo que 'df' es tu dataframe y 'name' es la columna con las categorías de las películas
encoder = LabelEncoder()

# Ajusta el codificador con las categorías y transforma la columna 'name' a números
df['name_encoded'] = encoder.fit_transform(df['name'])

# Ahora 'df' tiene una nueva columna 'name_encoded' con los valores categóricos codificados como números
df

,film_id,num_alquileres,rating,rental_rate,release_year,name,name_encoded
0,19,21,PG,0.99,2006,Action,0
1,21,22,R,4.99,2006,Action,0
2,29,10,NC-17,2.99,2006,Action,0
3,56,18,G,2.99,2006,Action,0
4,67,21,PG-13,2.99,2006,Action,0
...,...,...,...,...,...,...,...
953,931,12,PG-13,0.99,2006,Travel,15
954,977,12,R,2.99,2006,Travel,15
955,981,21,NC-17,0.99,2006,Travel,15
956,988,15,R,2.99,2006,Travel,15
957,989,25,R,4.99,2006,Travel,15

In [40]:
df["rating_encoded"] = encoder.fit_transform(df["rating"])
df

,film_id,num_alquileres,rating,rental_rate,release_year,name,name_encoded,rating_encoded
0,19,21,PG,0.99,2006,Action,0,2
1,21,22,R,4.99,2006,Action,0,4
2,29,10,NC-17,2.99,2006,Action,0,1
3,56,18,G,2.99,2006,Action,0,0
4,67,21,PG-13,2.99,2006,Action,0,3
...,...,...,...,...,...,...,...,...
953,931,12,PG-13,0.99,2006,Travel,15,3
954,977,12,R,2.99,2006,Travel,15,4
955,981,21,NC-17,0.99,2006,Travel,15,1
956,988,15,R,2.99,2006,Travel,15,4
957,989,25,R,4.99,2006,Travel,15,4

In [ ]:
# 4.Create a query to get the list of films and a boolean indicating if it was rented last month. 
# This would be our target variable.

In [52]:
with engine.connect() as connection:
    df1=pd.read_sql_query("SELECT f.film_id, CASE WHEN EXISTS (SELECT 1 FROM rental r JOIN inventory i ON r.inventory_id = i.inventory_id WHERE i.film_id = f.film_id AND YEAR(r.rental_date) = 2006 AND MONTH(r.rental_date) = 2 ) THEN TRUE ELSE FALSE END AS rented_in_feb_2006 FROM film f;", connection)

In [53]:
df1

     film_id  rented_in_feb_2006
0          1                   0
1          2                   1
2          3                   0
3          4                   1
4          5                   1
..       ...                 ...
995      996                   0
996      997                   0
997      998                   1
998      999                   0
999     1000                   0

[1000 rows x 2 columns]

In [54]:
# 5. Create a logistic regression model to predict this variable from the cleaned data.

In [55]:
from sklearn.model_selection import train_test_split

# Definir las características (X) y la variable objetivo (y)
X = df1.drop('rented_in_feb_2006', axis=1)  # Todas las columnas excepto la variable objetivo
y = df1['rented_in_feb_2006']  # Variable objetivo

# Dividir los datos en entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [56]:
from sklearn.linear_model import LogisticRegression

# Inicializar el modelo de Regresión Logística
model = LogisticRegression(max_iter=1000)

# Entrenar el modelo
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [ ]:
# 6. Evaluate the results.

In [57]:
from sklearn.metrics import accuracy_score

# Predecir los valores para el conjunto de prueba
y_pred = model.predict(X_test)

# Calcular la precisión del modelo
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy * 100:.2f}%")

Accuracy: 88.00%

In [62]:
model.predict(pd.DataFrame([412]))

C:\Users\anasa\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [64]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0], dtype=int64)